In [1]:
setwd("/home/user/data3/lit/project/sORFs/06-RNA-seq")
fc_output_file <- "/home/user/data3/lit/project/sORFs/06-RNA-seq/02-output-isoseq-gtf-20250909/featureCounts/rna-seq-counts.txt"
libsize_file <- "./02-output-20250621/expr/sample_name.lib.txt"
out_file="./02-output-isoseq-gtf-20250909/expr/rpkm_N_C_A.txt"

In [2]:
#!/usr/bin/env Rscript
# 功能：从 featureCounts 输出计算 RPKM，并比较核内（N）和核外（C）基因表达差异
source("/home/user/data2/lit/bin/lit_utils.R")
source("/home/user/data3/lit/project/sORFs/sORFs.utils.R")
lib_text()
lib_plot()
###### libsize为UNIQUELY MAPPED READS而不是featureCounts assigned reads ######
fread_c(fc_output_file)  -> rna_counts
libsize <- fread_c(libsize_file)
colnames(libsize) <- c("Sample","libsize")
libsize

# 重命名列
colnames(rna_counts[,7:ncol(rna_counts)]) %>% sub("/home/user/data3/lit/project/sORFs/06-RNA-seq/02-output-20250621/mapping/","",.) %>% 
  sub(".R1_Aligned.sortedByCoord.out.bam","",.) -> colnames_organized
head(colnames_organized)

colnames_organized_1 <- c("C_1","C_2","C_3","N_1","N_2")
# 计算RPKM
get_rpkm <- function(counts,libsize){
  rkm <- counts[,7:ncol(counts)]/counts$Length*1000
  rpkm <- data.frame(t(t(rkm) / libsize) * 10^6 )
  return(rpkm)
}
fread_c(fc_output_file)  -> rna_counts
# 确保libsize样本的顺序和counts中样本的顺序是一致的【已确认】
all(libsize$Sample==colnames_organized)
get_rpkm(rna_counts,libsize$libsize) -> rpkm
colnames(rpkm) <- colnames_organized_1
head(rpkm)

# 核内三个重复以及核外两个重复之间的相关性都很好
cor(rpkm, method = "pearson")

## 合并
mutate(rpkm,C=(C_1+C_2+C_3)/3,N=(N_1+N_2)/2) %>% dplyr::select(C,N) -> rpkm_N_C
head(rpkm_N_C)

# 导出基因的表达信息
rpkm_N_C %>% mutate(A=(N+C)/2) -> rpkm_N_C_A
fwrite_c(rpkm_N_C_A, out_file)

head(rpkm_N_C_A)
nrow(rpkm_N_C_A)
filter(rpkm_N_C_A,A>0) -> human_21pcw_brain_expressed_gene_expr
nrow(human_21pcw_brain_expressed_gene_expr)
nrow(human_21pcw_brain_expressed_gene_expr)/nrow(rpkm_N_C_A)
# fwrite_c(human_21pcw_brain_expressed_gene_expr, out_file)

  Sample  libsize
1 p21_C_1  38803745
2 p21_C_2  41777492
3 p21_C_3 531854766
4 p21_N_1  46910288
5 p21_N_2 651425046

[1] "p21_C_1" "p21_C_2" "p21_C_3" "p21_N_1" "p21_N_2"

[1] TRUE

  C_1          C_2          C_3          N_1          N_2
1 2.260849e+05 2.204489e+05 2.224296e+05 1.054366e+04 1.057394e+04
2 9.120907e-01 1.047407e+00 9.413162e-01 3.703775e-01 4.306962e-01
3 8.066760e+00 7.920432e+00 8.018115e+00 9.093297e-01 8.936797e-01
4 1.254049e-02 0.000000e+00 3.293803e-02 1.037337e-02 8.217059e-03
5 1.913029e+00 1.543361e+00 1.629696e+00 1.673734e+00 1.545688e+00
6 2.302608e+00 2.315341e+00 2.249955e+00 1.985475e+00 2.166708e+00

    C_1       C_2       C_3       N_1       N_2
C_1 1.0000000 0.9995667 0.9995254 0.2983720 0.2964422
C_2 0.9995667 1.0000000 0.9999976 0.2909594 0.2890248
C_3 0.9995254 0.9999976 1.0000000 0.2922369 0.2903030
N_1 0.2983720 0.2909594 0.2922369 1.0000000 0.9999971
N_2 0.2964422 0.2890248 0.2903030 0.9999971 1.0000000

  C            N
1 2.229878e+05 1.055880e+04
2 9.669380e-01 4.005369e-01
3 8.001769e+00 9.015047e-01
4 1.515951e-02 9.295217e-03
5 1.695362e+00 1.609711e+00
6 2.289302e+00 2.076092e+00

  C            N            A
1 2.229878e+05 1.055880e+04 1.167733e+05
2 9.669380e-01 4.005369e-01 6.837374e-01
3 8.001769e+00 9.015047e-01 4.451637e+00
4 1.515951e-02 9.295217e-03 1.222736e-02
5 1.695362e+00 1.609711e+00 1.652537e+00
6 2.289302e+00 2.076092e+00 2.182697e+00

[1] 19133

[1] 18462

[1] 0.9649297

In [9]:
nrow(filter(rpkm_N_C_A,C>=1))/nrow(rpkm_N_C_A)

[1] 0.5018554